<div id="Question">
  <div class="page-header">
    <h2>Answer a question!</h2>
    <span> Click the number next to the answer to cast your vote.</span>
  </div>

  <div class="row">
    <div class="questionCard">
    <h2>{{ currentQuestion.questionText}}</h2>
    <div class="answer" ng-repeat="answer in currentAnswers">
      <button class="btn btn-primary btn-sm" ng-click="giveAnswer(answer.id)">{{answer.order+1}}</button>
      <span class="answerText">{{answer.answerText}}</span>
    </div>
    </div>

  </div>
</div>